@import '../scss/variables';
@import '../scss/overlay';

.disclaimer {
  padding: 20px 5%;
  font-size: 8pt;
  font-style: italic;
}

.dataTables_wrapper .quick-filter {
  float: right;
}

.dataTables_wrapper thead th {
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

.eve-icon {
  position: relative;
  top: 2px;
  right: 2px;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 4px;
}

.eve-icon.inverted {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.eve-icon.eve-bpo {
  background: url("../assets/eve-icons/items/BPO.png") no-repeat center;
  background-size: 16px 16px;
}

.eve-icon.eve-help {
  background: url("../assets/eve-icons/UI/WindowIcons/help.png") no-repeat center;
  background-size: 16px 16px;
}

.eve-icon.eve-copying {
  background: url("../assets/eve-icons/UI/Industry/copying.png") no-repeat center;
  background-size: 16px 16px;
}

.eve-icon.eve-manufacturing {
  background: url("../assets/eve-icons/UI/Industry/manufacturing.png") no-repeat center;
  background-size: 16px 16px;
}

.eve-icon.eve-researchTime {
  background: url("../assets/eve-icons/UI/Industry/researchTime.png") no-repeat center;
  background-size: 16px 16px;
}

.eve-icon.eve-researchMaterial {
  background: url("../assets/eve-icons/UI/Industry/researchMaterial.png") no-repeat center;
  background-size: 16px 16px;
}

.eve-icon.eve-invention {
  background: url("../assets/eve-icons/UI/Industry/invention.png") no-repeat center;
  background-size: 16px 16px;
}

.eve-icon.eve-reaction {
  background: url("../assets/eve-icons/UI/Industry/reaction.png") no-repeat center;
  background-size: 16px 16px;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-position: center left;
}

.content-wrapper {
  position: relative;
}
