<div>
  <p>
    {{ 'ABOUT_MSG' | translate }}
  </p>
  <h2>{{ 'CONTRIBUTORS' | translate }}</h2>
  <ul>
    <li>Jason Steele (<b>Zim Zallabim</b>)</li>
  </ul>
  <h2>{{ 'FEATURES' | translate }}</h2>
  <ul>
    <li>{{ 'TODO' | translate }}</li>
  </ul>
  <h2>{{ 'ROADMAP' | translate }}</h2>
  <ul>
    <li>{{ 'TODO' | translate }}</li>
  </ul>
  <p>
    <small [innerHTML]="'FIND_SOURCE_AT' | translate:{url: 'https://github.com/jasonesteele/eve-supply-chain'}">
    </small>
  </p>
  <p>
    <small [innerHTML]="'DONATION_MSG' | translate">
    </small>
  </p>
</div>
